.footer {
  background-image: url(/src/images/footer-s.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 180px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 576px) {
  .footer {
    background-image: url(/src/images/footer-m.png);
    height: 359px;
  }
}

@media (min-width: 1260px) {
  .footer {
    background-image: url(/src/images/footer-l.png)
  }
}
