.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/src/images/front-image.png);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 20px;
    padding-top: 25px;

    @media (min-width: 576px) {
    background-image: url(/src/images/front-image-m.png);
    padding-inline: 72px;
    padding-top: 50px;
    }

    @media (min-width: 1260px) {
      background-image: url(/src/images/front-image-l.png);
      padding-inline: 120px;
    }

&__title {
  font-weight: 700;
  font-size: 40px;
  width: 280px;
  max-height: 80px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin: auto;

  @media (min-width: 576px) {
    top: 256px;
    font-size: 64px;
    line-height: 64px;
    width: 392px;
    max-height: 128px;
  }

  @media (min-width: 1260px) {
   top: 200px;
   font-size: 80px;
   line-height: 80px;
   width: 498px;
   max-height: 160px;
  }
}
}

