.section-about-us-content {
  display: grid;
  gap: 24px;
}

.open {
  display: grid;
  gap: 16px;


&-title {
  color: rgba(22, 22, 22, 1);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
}

&-schedule {
display: grid;
grid-template-columns: min-content 1fr;
gap: 8px 24px;

&-hours {
  white-space: nowrap;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  color: rgba(22, 22, 22, 1);
}

&-days {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  color: rgba(22, 22, 22, 1);
}

&-extra {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  color: rgba(22, 22, 22, 1);
  p {
    margin: 0;
  }

& span {
  font-weight: 700;
}
}
}
}

@media (min-width: 576px) {
.section-about-us {
display: grid;
column-gap: 20px;
grid-template-columns: repeat(6, 1fr);
}
.section-title-about-us {
    grid-column: 1 / 4;
}
.section-about-us-content {
  grid-column: 4 / 7;
}
}

@media (min-width: 1260px) {
.section-about-us {
display: grid;
column-gap: 20px;
grid-template-columns: repeat(12, 1fr);
}
.section-title-about-us {
    grid-column: 1 / 6;
}
.section-about-us-content {
  grid-column: 6/ 13;
}
}
