.exhibition {
 display: grid;
 gap: 48px;


&-content {
  display: grid;
  gap: 24px;


  @media (min-width: 576px) {
    gap: 32px;
  }
}


  &-photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 277px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
      z-index: 5;
    }

  &-areas {
    background-image: url(/src/images/areas.png);
  }
  &-travel {
    background-image: url(/src/images/travel-s.png);
  }
  &-tour {
    background-image: url(/src/images/tour.png);
  }
  }

&-title {
  margin: 0;
  margin-bottom: 4px;
    text-align: center;
a {
font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(209, 45, 53, 1);
}
}


&-explanation {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
}
}



@media (min-width: 576px) {
.exhibition-image {
display: grid;
column-gap: 20px;
grid-template-columns: repeat(6, 1fr);
}

.exhibition-photo {
    grid-column: 2 / 6;
    min-height: 387px;
}
.exhibition-photo-areas {
  background-image: url(/src/images/collection-areas-m.png);
}
.exhibition-photo-travel {
  background-image: url(/src/images/travel-m.png);
}
.exhibition-photo-tour{
  background-image: url(/src/images/tour-m.png);
}
}


@media (min-width: 1260px) {
.exhibition {
display: grid;
column-gap: 20px;
grid-template-columns: repeat(12, 1fr);
}
.exhibition-content-first {
    grid-column: 1 / 5;
}

.exhibition-content-second {
    grid-column: 5 / 9;
}

.exhibition-content-third {
    grid-column: 9 / 13;
}

.exhibition-photo {
  min-height: 320px;
}

.exhibition-photo-areas {
  background-image: url(/src/images/areas-l.png);
}
.exhibition-photo-travel {
  background-image: url(/src/images/travel-l.png);
}
.exhibition-photo-tour{
  background-image: url(/src/images/tour-l.png);
}
}
