.section-contact-us-content {
display: grid;
gap: 48px;
}

.how-to-contact {
display: grid;
gap: 48px;
}

.contact {
display: grid;
gap: 16px;

&-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;

&-title p {
  margin: 0;
  padding: 0;
}
}

&-info {
display: grid;
gap: 8px;



.contact-numbers {
display: grid;
gap: 4px;



&-norm {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
 line-height: 27px;
 letter-spacing: 0;
}

&-bold {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
 line-height: 27px;
 letter-spacing: 0;
 text-decoration: none;
 color: black;
}
}
}
}


.form-field {
  margin-bottom: 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(105, 105, 196);
  }
  &-textarea {
    margin-bottom: 32px;
  }
}


input, textarea, button {
    appearance: none;
    border: none;
    background: none;
    background-color: rgba(248, 248, 250, 1);
    width: 100%;
    font-family: Cinzel, serif;
    padding-top: 14px;
  padding-left: 10px;
}

input, textarea::placeholder {
height: 20px;
padding-block: 0;
}

input {
  height: 48px;
}

input:focus, textarea:focus {
  outline: none;
  outline: 1px solid black;
}

button {
  height: 56px;
  background-color: rgba(209, 45, 53, 1);
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background-color: rgba(174, 28, 35, 1);
  }
  &-:active{
    background-color: rgba(235, 52, 61, 1);
  }
}





@media (min-width: 576px) {
.section-contact-us-content {
display: grid;
column-gap: 20px;
grid-template-columns: repeat(6, 1fr);
}
.how-to-contact {
    grid-column: 1 / 4;
}
.write-your-message {
  grid-column: 4 / 7;
}
}

@media (min-width: 1260px) {
.section-contact-us-content{
display: grid;
column-gap: 20px;
grid-template-columns: repeat(12, 1fr);
}
.contact-fifth-avenue {
    grid-column: 1 / 4;
}
.contact-cloisters {
 grid-column: 4 / 7;
}
.write-your-message {
  grid-column: -6 / -1;
}
}






