.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

&__logo {
  display: flex;
  width: 64px;
  height: 46px;
}


&__icons {
  display: flex;
  gap: 24px;


  .phone-numbers {
     opacity: 0;
    visibility: hidden;
  }


.icon {
  display: block;
  height: 24px;
  width: 24px;
}
}
}

 @media (min-width: 1260px) {
  .icone-phone {
    position: relative;
  }
.icone-phone::after {
  content: "The MET Fifth Avenue\A+ 1 212-535-7710\A\AThe MET cloisters\A+ 1 212-923-3700";
  white-space: pre;
  font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 201px;
    height: 116px;
    transform: translateY(-50%);
    color: white;
    z-index: 1000;
   }

   .phone-numbers-avenue {
    top: 20%;
   }
   .phone-numbers-cloisters {
    top: 250%;
   }

   .icone-phone:hover::after {
    opacity: 1;
    visibility: visible;
   }
  }
