.section-title {
margin: 0;
margin-bottom: 48px;
padding-inline: 0;
font-weight: 700;
font-size: 32px;
line-height: 32px;
letter-spacing: -1.5px;
text-align: center;
color: #161616;
}


.section-title-about-us::before {
  content: 'Plan your visit';
  display: block;
  padding-block: 8px;
  font-size: 12px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0;
  color: rgba(209, 45, 53, 1);
  width: 100%;
  text-align: center;
  transform: translateX(-80px);

}


.section-title-how-on-view::after {
  content: "Explore exhibition gallery guides, videos, articles, and more.";
  display: block;
  margin-top: 8px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(22, 22, 22, 1);
}

@media (min-width: 1260px) {
.section-title {
  font-size: 48px;
}
.section-title-about-us::before {
  transform: translateX(-150px);
}
}





