html {
  font-family: Cinzel, serif;
  line-height: 100%;
  font-weight: 400;
  scroll-behavior: smooth;
  &:has(.page__menu:target) {
overflow: hidden
}
}

body {
  margin: 0;
  &:has(.page__menu:target) {
overflow: hidden
}
}

.main {
  display: grid;
  row-gap: 100px;
  padding-top: 100px;
  padding-bottom: 280px;
  padding-inline: 20px;

  @media (min-width: 576px) {
    padding-top: 140px;
    padding-bottom: 515px;
    row-gap: 140px;
    padding-inline: 72px;
  }

  @media (min-width: 1260px) {
    padding-top: 140px;
    padding-bottom: 490px;
    row-gap: 140px;
    padding-inline: 120px;
}
}
