$main-color-red: rgba(209, 45, 53, 1);
$second-color-dark: rgba(22, 22, 22, 1);
$color-hovered-red: rgba(174, 28, 35, 1);
$color-pressed-red: rgba(235, 52, 61, 1);
$paddings-between-sections-mobile: 100px;
$paddings-between-sections-tablet: 100px;
$paddings-between-sections-desktop: 100px;
$paddings-inside-sections: 48px;
